@charset "UTF-8";

header {
	border: 1px solid red;
	height: 50px;
}

footer {
	border: 1px solid blue;
}

aside {
	border: 1px solid green;
	float: left;
	width: 90px;
	min-height: 300px;
}

#content {
	border: 1px dashed yellow;
	margin-left: 100px;
}